.big-button {
  width: 100%;
  margin-bottom: $m-size;
  padding: 2.4rem;
  font-weight: bold;
  font-size: $l-size;
  color: white;
  background-color: $purple;
  border: none;
  border-bottom: 0.6rem solid darken($purple, 10%);

  &:disabled {
    opacity: 0.5;
  }
}

.button {
  padding: $s-size;
  font-weight: 500;
  color: white;
  background-color: $purple;
  border: none;
  border-bottom: 0.3rem solid darken($purple, 10%);

  &--link {
    padding: 0;
    color: $off-white;
    background-color: transparent;
    border: none;
  }
}

@media (min-width: $desktop) {
  .big-button {
    margin-bottom: $xl-size;
  }
}
