.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-in-out;

  &--after-open {
    opacity: 1;
  }

  &--before-close {
    opacity: 0;
  }
}

.modal {
  max-width: 300rem;
  padding: $l-size;
  color: white;
  text-align: center;
  background-color: $light-blue;
  outline: none;
}

.modal__title {
  margin: 0 0 $m-size 0;
}

.modal__body {
  margin: 0 0 $l-size 0;
  font-weight: 300;
  font-size: 2rem;
  word-break: break-all;
}
